<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">{{ linkOne }}</a></li>
            <li><a href="#">{{ linkTwo }}</a></li>
            <li class="active">{{ currentPage }}</li>
        </ol>
    </div>
</div>