<div class="row">
    <div class="col-xs-12">
        <h2>Basic</h2>

        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                <input type="checkbox"> Check me out </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Inline</h2>

        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Horizontal</h2>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                    <input type="checkbox"> Remember me
                    </label>
                </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Supported input types</h2>

        <form>
            <div class="form-group">
                <label for="exampleInputText4">Text</label>
                <input type="text" class="form-control" id="exampleInputText4" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword4">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputDatetime4">Datetime</label>
                <input type="datetime" class="form-control" id="exampleInputDatetime4" placeholder="Datetime">
            </div>
            <div class="form-group">
                <label for="exampleInputDatetimeLocal4">Datetime-local</label>
                <input type="datetime-local" class="form-control" id="exampleInputDatetimeLocal4" placeholder="Datetime-local">
            </div>
            <div class="form-group">
                <label for="exampleInputDate4">Date</label>
                <input type="date" class="form-control" id="exampleInputDate4" placeholder="Date">
            </div>
            <div class="form-group">
                <label for="exampleInputMonth4">Month</label>
                <input type="month" class="form-control" id="exampleInputMonth4" placeholder="Month">
            </div>
            <div class="form-group">
                <label for="exampleInputWeek4">Week</label>
                <input type="week" class="form-control" id="exampleInputWeek4" placeholder="Week">
            </div>
            <div class="form-group">
                <label for="exampleInputTime4">Time</label>
                <input type="time" class="form-control" id="exampleInputTime4" placeholder="Week">
            </div>
            <div class="form-group">
                <label for="exampleInputNumber4">Number</label>
                <input type="number" class="form-control" id="exampleInputNumber4" placeholder="Number">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail4">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail4" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputUrl4">Url</label>
                <input type="url" class="form-control" id="exampleInputUrl4" placeholder="Url">
            </div>
            <div class="form-group">
                <label for="exampleInputSearch4">Search</label>
                <input type="search" class="form-control" id="exampleInputSearch4" placeholder="Search">
            </div>
            <div class="form-group">
                <label for="exampleInputTel4">Tel</label>
                <input type="tel" class="form-control" id="exampleInputTel4" placeholder="Tel">
            </div>
            <div class="form-group">
                <label for="exampleInputColor4">Color</label>
                <input type="color" class="form-control" id="exampleInputColor4" placeholder="Color">
            </div>
            <div class="form-group">
                <label for="exampleTextarea4">Textarea</label>
                <textarea class="form-control" rows="3" id="exampleTextarea4"></textarea>
            </div>
            <div class="form-group">
                <fieldset>
                    <legend>Checkboxes</legend>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Option one is this and that&mdash;be sure to include why it's great
                        </label>
                    </div>
                    <div class="checkbox disabled">
                        <label>
                            <input type="checkbox" value="" disabled>
                            Option two is disabled
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset>
                    <legend>Inline checkboxes</legend>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" value="">
                            Option one is this and that&mdash;be sure to include why it's great
                        </label>
                    </div>
                    <div class="checkbox-inline disabled">
                        <label>
                            <input type="checkbox" value="" disabled>
                            Option two is disabled
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset>
                    <legend>Radios</legend>
                    <div class="radio">
                        <label>
                            <input type="radio" value="">
                            Option one is this and that&mdash;be sure to include why it's great
                        </label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" value="" disabled>
                            Option two is disabled
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset>
                    <legend>Inline Radios</legend>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" value="">
                            Option one is this and that&mdash;be sure to include why it's great
                        </label>
                    </div>
                    <div class="radio-inline disabled">
                        <label>
                            <input type="radio" value="" disabled>
                            Option two is disabled
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <label for="exampleSelect4">Select</label>
                <select class="form-control" id="exampleSelect4">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Input states</h2>

        <form>
            <div class="form-group">
                <label for="exampleInputFocus">Focus</label>
                <input type="text" class="form-control" id="exampleInputFocus" placeholder="Focus">
            </div>
            <div class="form-group">
                <label for="exampleInputDisabled">Disabled</label>
                <input type="text" class="form-control" id="exampleInputDisabled" placeholder="Disabled" disabled>
            </div>
            <div class="form-group">
                <label for="exampleInputReadonly">Readonly</label>
                <input type="text" class="form-control" id="exampleInputReadonly" placeholder="Readonly" readonly>
            </div>
            <div class="form-group has-success">
                <label for="exampleInputValid">Valid</label>
                <input type="text" class="form-control" id="exampleInputValid" placeholder="Valid">
                <span id="inputSuccess2Status" class="sr-only">(success)</span>
            </div>
            <div class="form-group has-warning">
                <label for="exampleInputWarning">Warning</label>
                <input type="text" class="form-control" id="exampleInputWarning" placeholder="Warning">
                <span id="inputWarning2Status" class="sr-only">(success)</span>
            </div>
            <div class="form-group has-error">
                <label for="exampleInputError">Error</label>
                <input type="text" class="form-control" id="exampleInputError" placeholder="Error">
                <span id="inputError2Status" class="sr-only">(success)</span>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Input states</h2>

        <form>
            <div class="form-group">
                <label for="exampleInputFocus">Focus</label>
                <input type="text" class="form-control" id="exampleInputFocus" placeholder="Focus">
            </div>
            <div class="form-group">
                <label for="exampleInputDisabled">Disabled</label>
                <input type="text" class="form-control" id="exampleInputDisabled" placeholder="Disabled" disabled>
            </div>
            <div class="form-group">
                <label for="exampleInputReadonly">Readonly</label>
                <input type="text" class="form-control" id="exampleInputReadonly" placeholder="Readonly" readonly>
            </div>
            <div class="form-group has-success">
                <label for="exampleInputValid">Valid</label>
                <input type="text" class="form-control" id="exampleInputValid" placeholder="Valid">
            </div>
            <div class="form-group has-warning">
                <label for="exampleInputWarning">Warning</label>
                <input type="text" class="form-control" id="exampleInputWarning" placeholder="Warning">
            </div>
            <div class="form-group has-error">
                <label for="exampleInputError">Error</label>
                <input type="text" class="form-control" id="exampleInputError" placeholder="Error">
            </div>
        </form>
    </div>
</div>